@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

:root {
  --font-sans: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  font-family: var(--font-sans);
  background: #f8fafc;
}
